h1 {
    color: rgb(134, 4, 13); 
    text-align: center; 
    font-size: 100px;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 400;
}
h2 {
    color: rgb(134, 4, 13);
    text-align: center;
    font-size: 50px;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 300;
    letter-spacing: 10px;
}
p {
    text-align: center;
    margin: 0px;
}
body {
    background-color: black;
}
a {
    color: rgb(134, 4, 13);
    font-family: "Bitcount Grid Single", system-ui;
    letter-spacing: 2px;
    font-size: 15px;
} 
a:hover {
    color: white;
}
body {
    background-image: url(img/Bonny.gif);
    background-size: 98%;
}