body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-family: comic sans ms;
    font-size: 60px;
    color: darkblue;
}
h4 {
    text-align: right;
    font-style: italic;
}
p {
    text-align: right;
}
.InstagramPutih {
    color: white;
    text-decoration: none;
}
.InstagramMerah {
    color: red;
}
.InstagramPutih:hover {
    color: red;
    text-decoration: underline;
}
.MarkPutih {
    color: white;
}
.MarkNoUnderline {
    text-decoration: none;
    font-weight: 800;
    color: blue;
}
.MarkNoUnderline:hover {
    color: white;
    background-color: blue;
}
.Orange {
    color: orange;
}
.Center {
    text-align: center;
}