.container {
    width: 600px;
    height: 150px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.container div {
    background-color: rgb(19, 133, 255);
    margin: 2px;
    flex-grow: 1;
}

.container div.dua {
    flex-grow: 3;
    align-self: flex-end;
}